<div>
        <div class="row">
                <div class="coldiv">
                        <a class="tile row">
                                <label for="radio-1" class="radio-custom-label title">Disk Space Available</label>
                               <!--  <h3 class="title">Disk Space Available</h3>
                                --> <input id="radio-1" class="radio-custom"  type="radio" checked>
                                
                        </a>
                </div>
        </div>
        <div class="row">
                <div class="coldiv">
                        <a class="tile row">
                                <label for="radio-2" class="radio-custom-label title">Start EMBA in Docker Mode</label>
                               <!--  <h3 class="title">Disk Space Available</h3>
                                --> <input id="radio-2" class="radio-custom"  type="radio" checked>
                                
                        </a>
                </div>
        </div>
        <div class="row">
                <div class="coldiv">
                        <a class="tile row statusTile">
                               <h3 class="title">Status Messages</h3>
                               <p>Docker Container Started</p>
                               <p>Docker Container Destroyed</p>
                               <p>Report Generated</p>
                                <p>Report Downloaded</p>
                               <p>More Status Messages..</p>
                                
                                
                        </a>
                </div>
        </div>


        <!-- Progress bar HTML -->
        <div class="container">
            <div class="row">
                <div class="col-6 mx-auto mt 5">
                     <h1 id="app">{{ text }}</h1>
                </div>
            </div>
        </div>
        <div class="live-progress">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        </div>


</div>

<div>
    
</div>