{% extends "uploader/home.html" %}
{% block maincontent %}


    <div class="row dataCardRowReport">
        <div class="card">
            <table class="table table-striped table-borderless">
                <tbody id="detail_body"></tbody>
            </table>
        </div>
        <div class="column">
            <div class="card dataCardReport">
                <canvas class="aggregatedReport canvasReport" id="accumulatedCvePie"></canvas>
            </div>
            <div class="card dataCardReport">
                <canvas class="aggregatedReport canvasReport" id="accumulatedDonut"></canvas>
            </div>
        <div class="card">
    </div>

{% load static %}
<script type="text/javascript" src="{% static 'scripts/individualReportDashboard.js' %}"></script>
{% endblock %} 